footer{
    background-color: white;
    margin-left: 397px;
    margin-right: 396px;
}

.ti1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: black;
}

.he1{
    background-color:white;
}